body {
  font: normal 15pt Arial;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.limajr.com.br%2Fitbi-imposto-sobre-transmissao-de-bens-imoveis%2F&psig=AOvVaw2VLfjolwGRpWaOE5P8Ezl5&ust=1699466440383000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjXpf67soIDFQAAAAAdAAAAABAE);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: white;
  text-align: center;
  font-style: italic;
  background-color: rgba(39, 36, 36, 0.5);
  border-radius: 10px;
}

section {
  color: rgb(255, 255, 255);
  text-align: center;
  font-style: Arial;
  background: rgba(39, 36, 36, 0.5);
  border-radius: 20px;
  padding: 100px;
  width: 170px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
}

footer {
  background-color: rgba(39, 36, 36, 0.5);
  background-position: top;
  color: rgb(255, 255, 255);
  text-align: center;
  font-style: italic;
}
